html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}

html, head, header, nav, body, .nav-seperator {
    /* background-color: #C0C0C0; */
    background: url("../media/background-space.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Parallax Start */

.parallax #about-us, .parallax #pricing, .now-showing {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    min-height: 100%;
} 
  
.parallax #about-us {
    background-color: #51585E;
    color: #FFFFFF;
    min-height: 100vh;
}

.container {
    max-height: 100%;
}

.parallax #pricing {
    position: relative;
    background-image: url('../media/sectiontwo-parallax.jpg');
    min-height: 100vh;
}

.now-showing {
    background-color: #51585E;
    color: #51585E;
    min-height: 100vh;
} 

a {
    color: white;
}

/* Parallax End */

#header-logo {
    text-align: center;
}

nav {
    text-align: center;
}
/* ss */

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

/* ss */
.nav-links {
    position: sticky;
}

#nav-text {
    color: #FFF7E0;
}

.nav-seperator {
    height: 50px;
}

ul, li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Section style start */
section {
    text-align: center;
}

.section-seperator {
    opacity: 0.1;
    height: 300px;
}

/* Section style end */

/* Form panel start */

.form-movie-panel {
    position: relative;
    background-color: #FFFFFF;
    width: 750px;
    height: 700px;
}

.form-movie-title {
    position: absolute;
    width: 200px;
    height: 10px;
    top: 15px;
    left: 20px;
}

.form-standard-box {
    position: absolute;
    border-style: solid;
    width: 300px;
    height: 200px;
    top: 100px;
    left: 20px;
}

.form-firstclass-box {
    position: absolute;
    border-style: solid;
    width: 300px;
    height: 200px;
    top: 350px;
    left: 20px;
}

.form-customer-box {
    position: absolute;
    border-style: solid;
    width: 300px;
    height: 200px;
    top: 150px;
    right: 20px;
}

.form-order-total {
    position: absolute;
    border-style: dotted;
    width: 150px;
    height: 20px;
    bottom: 50px;
    left: 30px;
}

.form-order-button {
    position: absolute;
    bottom: 50px;
    right: 30px;
}

/* Form panel end */

/* Movie panel start */

.container-fluid {
   margin: 0px auto;
}

/* Add position relative to the parent container */
.movie-panel {
    position: relative;
    background-color: #FFFFFF;
    width: 400px;
    height: 250px;
}

.movie-poster {
    position: absolute;
    margin: 25px;
    width: 110px;
    height: 200px;
}

.movie-title {
    position: absolute;
    top: 15px;
    right: 10px;
}

.movie-times {
    position: absolute;
    top: 50px;
    right: 10px;
}

.col-1 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.col-2 {
    position: absolute;
    top: 10%;
    right: 20%;
}

.col-3 {
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.col-4 {
    position: absolute;
    bottom: 10%;
    right: 20%;
}

/* Movie panel end */

/* Synopsis start */

.synopsis-panel {
    position: relative;
    background-color: #51585E;
    width: 100%;
    min-height: 100vh;
    border-style: solid;
}

.synopsis-title {
    position: absolute;
    color: #FFFFFF;
    top: 100px;
    left: 30px;
}

.synopsis-description {
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    top: 150px;
    left: 30px;
}

.synopsis-trailer {
    position: absolute;
    top: 100px;
    right: 30px;
}

.synopsis-booking {
    position: absolute;
    color: #FFFFFF;
    bottom: 150px;
    left: 30px;
}

.synopsis-booking-buttons {
    position: absolute;
    border-style: solid;
    bottom: 75px;
}

/* Synopsis end */

/* Bookings start */

.bookings-panel {
    border-style: dotted;
    width: 100%;
    min-height: 100vh;
}

/* Bookings end */

/* Footer start */

footer {
    border-radius: 100px;
}

.footer-seperator {
    height: 50px;
}

/* Footer end */

